.resume-layout {
  display: flex;
  gap: 32px;
  padding: 24px;
  background-color: #fff;
  font-family: "Inter", "Arial", sans-serif;

  &__left {
    flex: 1;   // takes more width
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  &__right {
    
    flex: 1; // smaller width
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
