.resume-layout {
  display: flex;
  gap: 32px;
  padding: 24px;
  background-color: #fff;
  font-family: "Inter", "Arial", sans-serif;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  &__right {
    
    flex: 1; // smaller width
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

flex: 1.25 ; // takes more width13428700000000000000000000000000000000000000000000000000000000000000000000000000000009♦1342870913428709☺134287091342870913428701342870913428709134287013428709♦13428777777777709134287000000000000000000000000000000000000000000000000000000000000009)1342870000000091342870013134441313428701313428700000000000000000000000001342879)1342870134287000009♦41344444444444444444444413428888888888888888888888888888888888870913428709